
/* Use the root to create your variables */

:root{
    --bg:#0d0c22;
    --bg-soft:#2d2b42;
    --text:white;   
    --text-soft:#e5e5e5;
    --text-normal:1.5rem;
    --btn:#3673fd;
}
/* Clear all the spacing on the edges and start from zero */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:var(--bg);
    color: var(--text);
    font-family: 'Inter',sans-serif;
}

a{
    color: inherit;
}
a:hover{
    /* text-decoration: underline; */
    outline: 2px solid greenyellow;
}


 .main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
     padding: 10px; 

} 
/* Nav bar styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    padding: 0 15px 0 15px;
    font-size: var(--text-normal);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


nav,footer{
    background-color: var(--bg-soft);
    color: var(--text-soft);
    padding: 1rem;
}

.footer{
    text-align: center;
    border-radius: 10px;
}
/* Mobile styles */
@media(max-width:480px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
    }
    .nav-links a {
        width: 100%;
        text-align: center;
        margin-bottom: 0.5rem;
    }

}


/* Tablet stlyes */
@media(min-width:768px){
    .nav-links{
        flex-direction: row;
        justify-content: center;
    }
  
}

/* Desktop styles */


@media(min-width:1024px){
    .main-container{
        padding: 20px;
    }

}