 .links{
    text-decoration: none;
    display: flex;
    gap: 10px;  
    
} 
.logout{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.menuButton,
.mobileLinks{
  display: none;
  /* If its not a small screen then display will be none */
    display: none;
}

/* Media querries starts here */
@media(max-width:768px){
    .links{
        display: none;
    }
    .menuButton{
        display: block;
        cursor: pointer;
        font-size: 30px;
        font-weight: bold;
    }
    .mobileLinks{
        position: absolute;
        top:100px;
        right: 0;
        width: 50%;
        height: calc(100vh -100px); 
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}


