.container{
    background-color: rebeccapurple;
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100px;
    display: flex;
   
    align-items: center;
    justify-content: space-between;

}

.logo{
    font-size: 30px;
    font-weight: bold;
    
}